
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    border-radius: 20px;
    overflow-y: auto;
}

.faqContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.faqTitle{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1em 0.5em;
    background-color: #2563eb;
    color: aliceblue;
    font-weight: bolder;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}

.faqText{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f4f5f7;
    border-radius: 20px;
    padding: 1em 0 1em 1em;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.faqTitle:hover {
    background-color: rgba(26, 115, 232, 0.8); 
    transition: background-color 0.2s ease, transform 0.1s ease;
}