.container{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1em;
}

.head{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    justify-content: space-between;
}

.closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0.6em;
}


.message{
    display: flex;
    width: 100%;
    margin: auto 0 1em 0;
    height: 100%;
    font-size: 16px;
    align-items: center;
}